#banner
	.banner_content
		%h1 File Cabinet
		%p Your Everyday Diary Organized!
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner 
		.wrapper 
			.callout
				%h2 Organize
				%p Shabby chic food truck adaptogen deep v, la croix forage sartorial pop-up wolf next level. Celiac listicle keytar plaid. Messenger bag cornhole poutine williamsburg bicycle rights. Normcore celiac taxidermy beard hella farm-to-table schlitz. Chia master cleanse copper mug tattooed, intelligentsia narwhal fanny pack fam. Cray vice copper mug enamel pin celiac artisan roof party vexillologist umami PBR&B poke actually. Franzen humblebrag you probably haven't heard of them portland kitsch kickstarter.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br 
		%button= link_to "Join Now", new_user_registration_path